html, body, #root, .App {
    height: 100%;
}

html {
    font-size: var(--font-size);
}

body {
    margin: 0;
    background-color: var(--background);
    font-size: var(--font-size);
}

body, input, textarea {
    font-family: var(--font-family);
    color: var(--font-color);
}
h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: 100;
    color: var(--font-color);
}

img {
    height: 100%;
}

a {
    color: inherit;
    height: inherit;
    text-decoration: none;
}

a.active {
    font-weight: bold;
}